.logo{
    color: white;
}
.landing{
    width: 100vw;
    width: 100%;
    overflow: hidden;
    display: block;
   
}
.video_dim{
    object-fit: cover !important;
    max-width: 100%;
    height: auto;
}
